{% extends 'base.html' %}
{% block title %}Not Eligible{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-8 offset-md-2 text-center">
    <div class="alert alert-danger p-5">
      <h1 class="alert-heading">Not Eligible to Vote</h1>
      <p class="lead">Our records show that your account is not currently eligible to participate in this election.</p>
      <p>If you believe this is an error, please contact the election committee.</p>
    </div>
  </div>
</div>
{% endblock %}